@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "reset";

body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}